* { 
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.about, .work, .contact{
    background-image: url("austinbgblur.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(5px);
}
h1, h2{
    color:#312F2F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}
body {
    background-image: url("austinbgblur.png");
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
    /*padding-top: 220px;*/
}
p {
    padding: 30px;
    margin: 20px;
    color:aliceblue;
}
h1,h2,h3,h4,h5,h6,a{
    margin:0;
}
a {
    color: inherit;
}
.container {
    width:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 22px;
    margin: 0 auto;
    text-align: center;
    margin-left: 160px; /* Same as the width of the sidebar */
    background-color: #312F2F;
  }
.active {
    border-bottom: 2px solid #d0d7d9;
}
.container p{
    margin-bottom: 10px;
    color: #E8E9F3;
    font-weight: 700;
    font-size: 60px;
    width:auto;
}
.about {
    width: auto;
    padding: 50px;
    height: 500px;
    text-align: center;
    background-color: #312F2F;
    margin-left: 160px; /* Same as the width of the sidebar */
}
.aboutbox {
    background-color: #312F2F;
}
.work{
    width: auto;
    padding: 50px;
    height: 500px;
    text-align: center;
    background-color: #312F2F;
    margin-left: 160px; /* Same as the width of the sidebar */
}
.contact{
    width: auto;
    padding: 50px;
    height: 300px;
    text-align: center;
    background-color: #312F2F;
    margin-left: 160px; /* Same as the width of the sidebar */
}
.first {
    margin-top: 100px;
}
.default {
    margin-top: 64px;
}
.col-full {
    width: 1044px;
}

/* The sidebar menu */
p1{
    padding: 30px;
    margin: 20px;
    color: #312F2F;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:whitesmoke; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:#312F2F;
  }