h1 {
    color: rgb(132, 220, 231);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}
body {
    background-image: url("ashton.JPG");
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
}
p {
    border: 4px solid powderblue;
    padding: 30px;
    margin: 20px;
    color:aliceblue;
}