h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
p {
    text-align: center;
    margin:60px;
}
.about {
    background-color:slategrey;
}
.about h1 {
    color:whitesmoke;
}
.work {
    background-color:whitesmoke;
}
.work h1 {
    color:slategrey;
}
.contact {
    background-color:slategrey;
}
.contact h1 {
    color:whitesmoke;
}